<!DOCTYPE html>
<html>
<head>
  <title>Hellobaby</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <% if current_user %>
      Здравствуйте, <%= current_user.name %>!
      <%= link_to "Мои аудиозаписи", audios_path%>
  <% else %>
      <%= link_to "Войдите через Фейсбук", "/auth/facebook" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
